@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* Your custom styles here */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Additional Tailwind CSS styles */

body.dark {
  background-color: #1a202c;
  color: #d4d4d4;
}

body.light {
  background-color: #f7fafc;
  color: #1a1a1a;
}

.dashboard-container {
  padding: 20px;
  background-color: ghostwhite;
}
